@import '../../../../styles/adaptive.scss';

.link {
  &:hover {
    .button {
      background-color: var(--gray-hover);
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 40px;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.2s;

  &:focus {
    outline: 3px solid var(--gray-bg);
  }
}

.button__icon {
  margin-right: 0.75rem;
  width: 35px !important;
  height: 35px !important;
}

@media (max-width: $laptop-l-breakpoint) {
  .button {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.75rem, 1.5rem;
  }
}

@media (max-width: $laptop-breakpoint) {
  .button {
    font-size: 0.85rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
  }

  .button__label {
    display: none;
  }

  .button__icon {
    margin: 0;
  }
}

@media (max-width: $mobile-l-breakpoint) {
  .button {
    font-size: 0.75rem;
    line-height: 1.15rem;
    padding: 0.25rem 0.75rem;
  }
  .button__icon {
    width: 30px !important;
    height: 30px !important;
    margin-right: 0.25rem;
  }
}

@media (max-width: $mobile-breakpoint) {
  .button {
    font-size: 0.6rem;
    line-height: 1rem;
    padding: 0.2rem 0.5rem;
  }
  .button__icon {
    width: 25px !important;
    height: 25px !important;
    margin-right: 0.15rem;
  }
}
