@import '../../../assets//adaptive.scss';

.menu {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  padding-left: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  padding: 0.25rem 0;
  position: fixed;

  a {
    text-decoration: none;
    width: 100%;
    text-align: center;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

@media (max-width: $laptop-breakpoint) {
  .menu {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}
