@import '../../styles/adaptive.scss';

$general-padding: 1rem;

.trends {
  max-width: 400px;
}

.trends__container {
  padding: $general-padding;
}

.trends__list {
  margin-top: 2rem;
  background: var(--secondary-bg);
  border-radius: 15px;
}

.trends__item {
  padding: $general-padding;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background: var(--main-hover);
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.trends__title {
  padding: $general-padding;
  margin: 0;
}

.trends__name {
  margin: 0.75rem 0 0.5rem 0;
  font-size: 1.1rem;
}

.trends__numbers {
  color: var(--secondary);
  font-size: 0.9rem;
}

@media (max-width: $laptop-breakpoint) {
  .trends {
    display: none;
  }
}
