.link {
  &:hover {
    .button {
      background-color: var(--gray-hover);
    }
  }
}

.button {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 40px;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.2s;

  &:focus {
    outline: 3px solid var(--gray-bg);
  }
}
