@import './adaptive.scss';

html {
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

body,
#root {
  height: 100%;
}

:root {
  --gray-bg: rgba(0, 0, 0, 0.4);
  --secondary-bg: rgb(247, 249, 249);
  --white-bg: white;
  --gray-hover: rgba(15, 20, 25, 0.1);
  --primary: rgb(29, 155, 240);
  --secondary: rgb(83, 100, 113);
  --primary-hover: rgba(29, 155, 240, 0.1);
  --border-color: rgb(239, 243, 244);
  --main-h-padding: 1.5rem;
  --main-v-padding: 1rem;
  --sticky-header-height: 60px;
}

.page-title {
  padding: 0 var(--main-v-padding);
}

.page-layout {
  display: grid;
  grid-template-columns: 1.4fr minmax(330px, 0.6fr);
}

@media (max-width: $laptop-breakpoint) {
  .page-layout {
    grid-template-columns: 1.4fr minmax(260px, 0.6fr);
  }
}

@media (max-width: $tablet-breakpoint) {
  .page-layout {
    grid-template-columns: auto;
  }
}
