@import '../../styles/adaptive.scss';

.logo {
  width: 52px;
  height: 52px;
}

.logo__wrap {
  display: flex;
  margin-left: 2.5rem;
  width: 100%;
}

.logo__hover {
  padding: 0.5rem;
  border-radius: 50%;
  width: 52px !important;

  &:hover {
    background: var(--primary-hover);
  }

  &:focus {
    outline: 3px solid rgb(142, 205, 248);
    background: var(--primary-hover);
  }
}

@media (max-width: $laptop-breakpoint) {
  .logo__wrap {
    margin: 0;
  }
}

@media (max-width: $mobile-l-breakpoint) {
  .logo__hover {
    width: 40px !important;
    height: 40px !important;
  }

  .logo {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .logo__hover {
    width: 30px !important;
    height: 30px !important;
  }

  .logo {
    width: 30px;
    height: 30px;
  }
}
