@import '../../../../styles/adaptive.scss';

.menu {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  padding-left: 1rem;
  background: white;
}

.header {
  display: flex;
  justify-content: center;
  padding: 0.25rem 0;
  position: fixed;
  background: white;
  z-index: 2;

  a {
    text-decoration: none;
    width: 100%;
    text-align: center;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

@media (max-width: $laptop-breakpoint) {
  .menu {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

@media (max-width: $mobile-l-breakpoint) {
  .menu {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .nav {
    width: 60px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .menu {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }

  .nav {
    width: 45px;
  }
}
