html,
body,
#root {
  height: 100%;
}

:root {
  --gray-bg: rgba(0, 0, 0, 0.4);
  --white-bg: white;
  --gray-hover: rgba(15, 20, 25, 0.1);
  --primary: rgb(29, 155, 240);
  --primary-hover: rgba(29, 155, 240, 0.1);
}
