html,
body,
#root {
  height: 100%;
}

:root {
  --gray-bg: rgba(0, 0, 0, 0.4);
  --white-bg: white;
  --gray-hover: rgba(15, 20, 25, 0.1);
  --primary: rgb(29, 155, 240);
  --primary-hover: rgba(29, 155, 240, 0.1);
  --border-color: rgb(239, 243, 244);
  --main-h-padding: 1.5rem;
  --main-v-padding: 1rem;
}

.page-title {
  padding: 0 var(--main-v-padding);
}
